#project {
  background-color: #111;
  padding-top: var(--size);
  padding-bottom: 30px;
}
.project-links {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
}
.project-links a {
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  z-index: 1;
  color: antiquewhite;
}
#project .proj-title {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(175, 175, 175);
}
@media (max-width: 600px) {
  .project-links {
    gap: 30px;
  }
  .project-links a {
    font-size: 1rem;
  }
}
