a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
 .title {
  text-align: center;
  padding: 15px;
  font-weight: 600;
  font-size: 2.5rem;
  color: white;
}