#section-skills {
  position: relative;
}
.skills {
  /* background-color: #4f5f77a8; */
  background-image: linear-gradient(to right top, #9c4242c7, #3a4c9cce);
  width: 80%;
  border-radius: 55px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.prev,
.next {
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 50%;
  width: auto;
  transform: translateY(-50%);
  padding: 16px;
  color: #6d6464;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
}
.next {
  right: 0;
  border-radius: 15px 0 0 15px;
}
.prev {
  left: 0;
}
.prev:hover,
.next:hover {
  background-color: rgba(65, 91, 129, 0.822);
  color: white;
}
.slideshow-container {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
}
.slideshow-container .mySlides {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgb(150, 186, 236)
    linear-gradient(to right, transparent 50%, var(--col) 0);
  text-align: center;
  transition: 1s;
}
.slideshow-container .mySlides h3 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 2.5rem;
  z-index: 1;
}
.slideshow-container .mySlides h3 span {
  font-size: 0.6em;
}
.slideshow-container .mySlides h4 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  color: var(--col);
  text-transform: uppercase;
  z-index: 1;
}
.slideshow-container .mySlides::before {
  content: "";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0px 100% 100% 0/50%;
  z-index: 1;
}
.slideshow-container .mySlides::after {
  content: "";
  position: absolute;
  inset: 13px;
  border-radius: 50%;
  background: whitesmoke;
}
.slideshow-container .mySlides::before {
  background-color: var(--col);
  transform: rotate(calc((var(--p) - 50) * 0.01turn));
}
.slideshow-container .mySlides.less::before {
  background-color: rgb(150, 186, 236);
  transform: rotate(calc(var(--p) * 0.01turn));
}
@media (max-width: 800px) {
  .slideshow-container .mySlides {
    width: 120px;
    height: 120px;
  }
  .slideshow-container .mySlides h3 {
    font-size: 1.6rem;
  }

  .slideshow-container .mySlides h4 {
    font-size: 0.8rem;
  }

  .slideshow-container .mySlides::after {
    inset: 10px;
  }
}

@media (max-width: 600px) {
  .skills {
    border-radius: 50px;
  }
}
